<section class="main-section">
    <div class="container-auto">
        <div class="bg-gray-100 my-9 p-5 shadow-2xl rounded-2xl m-auto md:w-1/2">
            <div class="title">
                <h1 class="text-green-900 font-serif text-4xl text-center font-extralight">Change Password</h1>
            </div>
            <div class="inputs">
                <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
                    <div class="relative my-2">
                    <input formControlName="currentPassword" type="password" id="currentPassword"
                        class="focus:ring-0  block focus:outline-none rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm S border-0 border-b-2 border-emerald-200 peer"
                        placeholder=" " [class]="{
                    'valid':!updatePasswordForm.get('currentPassword')?.errors &&( updatePasswordForm.get('currentPassword')?.touched || updatePasswordForm.get('currentPassword')?.dirty) ,
                    'invalid':updatePasswordForm.get('currentPassword')?.errors &&( updatePasswordForm.get('currentPassword')?.touched || updatePasswordForm.get('currentPassword')?.dirty) 
                    }" />
                    @if(updatePasswordForm.get('currentPassword')?.errors &&( updatePasswordForm.get('currentPassword')?.touched ||
                    updatePasswordForm.get('currentPassword')?.dirty)){
                    <i class="fa-solid fa-xmark fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #e1290d;"></i>

                    }
                    @if((!updatePasswordForm.get('currentPassword')?.errors )&&( updatePasswordForm.get('currentPassword')?.touched ||
                    updatePasswordForm.get('currentPassword')?.dirty)){

                    <i class="fa-solid fa-check fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #34c197;"></i>
                    }

                    <label for="currentPassword"
                        class="absolute border-transparent text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5   peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">OldPassword</label>
                </div>
                @let passControl =updatePasswordForm.get('currentPassword');
                @if(passControl?.getError('pattern')&&passControl?.touched){
                <p class="alert">Wrong pattern,Try again</p>
                }
                @if(passControl?.getError('required')&&passControl?.touched){
                <p class="alert">Password is required</p>
                }
                <div class="relative my-2">
                    <input formControlName="password" type="password" id="password"
                        class="focus:ring-0  block focus:outline-none rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm S border-0 border-b-2 border-emerald-200 peer"
                        placeholder=" " [class]="{
                    'valid':!updatePasswordForm.get('password')?.errors &&( updatePasswordForm.get('password')?.touched || updatePasswordForm.get('password')?.dirty) ,
                    'invalid':updatePasswordForm.get('password')?.errors &&( updatePasswordForm.get('password')?.touched || updatePasswordForm.get('password')?.dirty) 
                    }" />
                    @if(updatePasswordForm.get('password')?.errors &&( updatePasswordForm.get('password')?.touched ||
                    updatePasswordForm.get('password')?.dirty)){
                    <i class="fa-solid fa-xmark fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #e1290d;"></i>

                    }
                    @if((!updatePasswordForm.get('password')?.errors )&&( updatePasswordForm.get('password')?.touched ||
                    updatePasswordForm.get('password')?.dirty)){

                    <i class="fa-solid fa-check fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #34c197;"></i>
                    }

                    <label for="password"
                        class="absolute border-transparent text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5   peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">NewPassword</label>
                </div>
                <!-- @let passControl = updatePasswordForm.get('password'); -->
                @if(passControl?.getError('pattern')&&passControl?.touched){
                <p class="alert">Wrong pattern,Try again</p>
                }
                @if(passControl?.getError('required')&&passControl?.touched){
                <p class="alert">Password is required</p>
                }<div class="relative my-2">
                    <input formControlName="rePassword" type="password" id="rePassword"
                        class="focus:ring-0  block focus:outline-none rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm S border-0 border-b-2 border-emerald-200 peer"
                        placeholder=" " [class]="{
                    'valid':!(updatePasswordForm.get('rePassword')?.errors ||updatePasswordForm.getError('missMatch')) &&( updatePasswordForm.get('rePassword')?.touched || updatePasswordForm.get('rePassword')?.dirty) ,
                    'invalid':(updatePasswordForm.get('rePassword')?.errors || updatePasswordForm.getError('missMatch')) &&( updatePasswordForm.get('rePassword')?.touched || updatePasswordForm.get('rePassword')?.dirty) 
                    }" />
                    @if((updatePasswordForm.get('rePassword')?.errors ||updatePasswordForm.getError('missMatch'))&&(
                    updatePasswordForm.get('rePassword')?.touched || updatePasswordForm.get('rePassword')?.dirty)){
                    <i class="fa-solid fa-xmark fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #e1290d;"></i>

                    }
                    @if(!(updatePasswordForm.get('rePassword')?.errors ||updatePasswordForm.getError('missMatch'))&&(
                    updatePasswordForm.get('rePassword')?.touched || updatePasswordForm.get('rePassword')?.dirty)){

                    <i class="fa-solid fa-check fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #34c197;"></i>
                    }

                    <label for="rePassword"
                        class="absolute border-transparent text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5   peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">rePassword</label>
                </div>
                @let rePassControl =updatePasswordForm.get('rePassword');
                @if(rePassControl?.getError('required')&&rePassControl?.touched){
                <p class="alert">rePassword is required</p>
                }
                @if(updatePasswordForm.getError('missMatch')&&rePassControl?.touched){
                <p class="alert">rePassword is not match password</p>
                }
                <button class="btn w-1/2">update Password</button>
                </form>
            </div>
        </div>
    </div>
</section>