<section  class="relative registration p-5">
    <div class="container-auto">
        <div class="content w-3/4 m-auto font-serif bg-gray-100 shadow-2xl shadow-green-200 rounded-3xl">
             <div class="p-2 text-bold my-2 text-green-700">
                <h1 class="text-4xl">New Password</h1>
                <p class="font-light font-sans">Please write your new password</p>
            </div>
            <form [formGroup]="newPass" (ngSubmit)="changePass()">
                <div class="relative my-2">
                    <input formControlName="newPassword" type="password" id="newPassword"
                        class="focus:ring-0  block focus:outline-none rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm S border-0 border-b-2 border-emerald-200 peer"
                        placeholder=" " [class]="{
                    'valid':!newPass.get('newPassword')?.errors &&( newPass.get('newPassword')?.touched || newPass.get('newPassword')?.dirty) ,
                    'invalid':newPass.get('newPassword')?.errors &&( newPass.get('newPassword')?.touched || newPass.get('newPassword')?.dirty) 
                    }" />
                    @if(newPass.get('newPassword')?.errors &&( newPass.get('newPassword')?.touched ||
                    newPass.get('newPassword')?.dirty)){
                    <i class="fa-solid fa-xmark fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #e1290d;"></i>

                    }
                    @if((!newPass.get('newPassword')?.errors )&&( newPass.get('newPassword')?.touched ||
                    newPass.get('newPassword')?.dirty)){

                    <i class="fa-solid fa-check fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #34c197;"></i>
                    }

                    <label for="newPassword"
                        class="absolute border-transparent text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5   peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">newPassword</label>
                </div>
                @let passControl =newPass.get('newPassword');
                @if(passControl?.getError('pattern')&&passControl?.touched){
                <p class="alert">Wrong pattern,Try again</p>
                }
                @if(passControl?.getError('required')&&passControl?.touched){
                <p class="alert">newPassword is required</p>
                }
                <div class="relative my-2">
                    <input formControlName="rePassword" type="password" id="rePassword"
                        class="focus:ring-0  block focus:outline-none rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm S border-0 border-b-2 border-emerald-200 peer"
                        placeholder=" " [class]="{
                    'valid':!(newPass.get('rePassword')?.errors ||newPass.getError('missMatch')) &&( newPass.get('rePassword')?.touched || newPass.get('rePassword')?.dirty) ,
                    'invalid':(newPass.get('rePassword')?.errors || newPass.getError('missMatch')) &&( newPass.get('rePassword')?.touched || newPass.get('rePassword')?.dirty) 
                    }" />
                    @if((newPass.get('rePassword')?.errors ||newPass.getError('missMatch'))&&(
                    newPass.get('rePassword')?.touched || newPass.get('rePassword')?.dirty)){
                    <i class="fa-solid fa-xmark fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #e1290d;"></i>

                    }
                    @if(!(newPass.get('rePassword')?.errors ||newPass.getError('missMatch'))&&(
                    newPass.get('rePassword')?.touched || newPass.get('rePassword')?.dirty)){

                    <i class="fa-solid fa-check fa-2xl absolute top-1/2 bottom-0 right-5" style="color: #34c197;"></i>
                    }

                    <label for="rePassword"
                        class="absolute border-transparent text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5   peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">rePassword</label>
                </div>
                @let rePassControl =newPass.get('rePassword');
                @if(rePassControl?.getError('required')&&rePassControl?.touched){
                <p class="alert">rePassword is required</p>
                }
                @if(newPass.getError('missMatch')&&rePassControl?.touched){
                <p class="alert">rePassword is not match newPassword</p>
                }
                <button class="btn lg:w-1/2">Save</button>

            </form>

        </div>

    </div>
    
</section>